@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">

        <div class="card">
            <div class="card-body pb-0">
                <h4 class="card-title text-center">AEPS Biomatric Device - Download</h4>
                <div class="row">
                    <div class="col-md-12 mb-2">
                      
                        <p class="text-center">RD Services Devices Drivers Download Link for All Devices</p>

                    </div>
                    <div class="clearfix"></div>
                    <div class="offset-md-1 col-md-10">
                        <div class="row">

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="card mb-4 producth">
                                    <div class="card-header dheader text-center">Morpho MSO 1300</div>
                                    <div class="card-body text-center">
                                        <div class="Imgcontainer">
                                            <img class="img-fluid" src="~/Content/Plugins/img/download.jpg" />
                                        </div>

                                        <p class="subheading">RD SERVICES DEVICES DRIVERS DOWNLOAD LINK FOR MORPHO</p>
                                        <p><a class="sublink" href="/Windows RD Service V2.0.1.34_HTTP.zip"><i class="icofont-download-alt mlt"></i>Download User Manual</a></p>
                                        <a href="/Windows RD Service V2.0.1.34_HTTP.zip" class="btn btn-primary downbtn"> <i class="icofont-download mlt"></i> download</a>
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="card mb-4 producth">
                                    <div class="card-header dheader text-center">Sartek FM220U</div>
                                    <div class="card-body text-center">
                                        <div class="Imgcontainer">
                                            <img class="img-fluid" src="~/Content/Plugins/img/download2.jpg" />
                                        </div>

                                        <p class="subheading">RD SERVICES DEVICES DRIVERS DOWNLOAD LINK FOR SARTEK</p>
                                        <p><a class="sublink" href="#"><i class="icofont-download-alt mlt"></i>Download User Manual</a></p>
                                        <button type="submit" class="btn btn-primary downbtn"> <i class="icofont-download mlt"></i> download</button>
                                    </div>
                                </div>
                            </div>*@

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="card mb-4 producth">
                                    <div class="card-header dheader text-center">Mantra MFS100</div>
                                    <div class="card-body text-center">
                                        <div class="Imgcontainer">
                                            <img class="img-fluid" src="~/Content/Plugins/img/download3.jpg" />
                                        </div>

                                        <p class="subheading">RD SERVICES DEVICES DRIVERS DOWNLOAD LINK FOR MANTRA</p>
                                        <p><a class="sublink" href="/MFS100Driver_9.0.2.8.zip"><i class="icofont-download-alt mlt"></i>Download User Manual</a></p>
                                        <a href="/MFS100Driver_9.0.2.8.zip" class="btn btn-primary downbtn"> <i class="icofont-download mlt"></i> download</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

